.addContactFormContainer {
  position: fixed;
  top: 80px;
  right: 50px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  gap: 20px;
  background-color: #fff;
    @media (max-width: 1024px) {
      top: auto;
      right: auto;
      left: 20px;
      bottom: 20px;
    }
  @media (max-width: 576px) {
    left: auto;
    bottom: 0;
  }
    & Button {
      max-height: 40px;
    }
}